// Variables
$hy-white: #ffffff;
$hy-black: #000000;
$hy-gray: #666666;
$hy-gray-dark: #161616;
$hy-gray-light: #F1F1F1;
$hy-gray-search: #D2D2D2;
$hy-gray-border: #C7C7C7;
$hy-gray-button-border: #B4B4B4;
$hy-gray-footer: #505050;

// Responsive
$breakpoint-xs: 320px;
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

* {
    font-family: 'Inter', sans-serif;
}

body {
    color: $hy-black;
    margin: 0;
}

a {
    text-decoration: none;
    color: $hy-black;
}

ul {
    list-style-type: none;
}

button {
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width: $breakpoint-xl) {
        max-width: 1280px;
    }
}

// Full-width divider
.hr__full__width {
    border: none;
    margin: 0;

    &:before {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        max-width: 100%;
        width: 100%;
    }

    &.hr__full__width--black {
        &:before {
            border: 1px solid $hy-black;
        }
    }

    &.hr__full__width--gray {
        &:before {
            border: 1px solid $hy-gray;
        }
    }

    &.hr__full__width--lightGray {
        &:before {
            border: 1px solid $hy-gray-border;
        }
    }
}

// Header
.hy__navbar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hy__navbar__search {
    order: 1;

    i {
        height: 20px;
    }

    @media screen and (min-width: $breakpoint-md) {
        order: 3;
        max-width: 160px;

        i {
            display: none;
        }
    }

    @media screen and (min-width: $breakpoint-xl) {
        max-width: 260px;
    }
}

.hy__navbar__logo {
    order: 2;

    @media screen and (min-width: $breakpoint-md) {
        order: 1;
    }
}

.hy__navbar__logo__link {
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;

    @media screen and (min-width: $breakpoint-xl) {
        font-size: 24px;
    }
}

.hy__navbar__menu {
    order: 3;

    i {
        height: 20px;
    }

    @media screen and (min-width: $breakpoint-md) {
        order: 2;
        display: flex;
        margin: 0;
        gap: 20px;

        i {
            display: none;
        }
    }

    @media screen and (min-width: $breakpoint-xl) {
        gap: 60px;
    }
}

.hy__navbar__menu__link {
    display: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    &.hy__navbar__menu__link--through {
        text-decoration: line-through;
    }

    @media screen and (min-width: $breakpoint-md) {
        display: flex;
        order: 3;
    }
}

.hy__navbar__search__input {
    display: none;
    font-size: 14px;
    border: 1px solid $hy-gray-search;
    border-radius: 20px;
    width: 100%;
    padding: 12px 8px 12px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;

    @media screen and (min-width: $breakpoint-md) {
        display: flex;
    }
}

// Section "Heading"
.hy__heading {
    padding: 32px 20px 28px 20px;
    display: flex;
    justify-content: center;
    text-align: center;

    h1 {
        font-weight: 600;
        font-size: 48px;
        line-height: 58px;

        @media screen and (min-width: $breakpoint-xl) {
            font-size: 118px;
            line-height: 143px;
        }
    }
}

// Section "Author"
.hy__author {
    padding: 16px 24px 20px 24px;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $breakpoint-lg) {
        padding: 19px 50px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.hy__author__about {
    display: flex;
    margin-bottom: 24px;

    @media screen and (min-width: $breakpoint-lg) {
        margin-bottom: 0;
        justify-content: center;
        align-items: center;
    }
}

.hy__author__image {
    width: 64px;
    height: 64px;
    margin-right: 20px;
}

.hy__author__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.hy__author__info__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
}

.hy__author__info__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $hy-gray;
}

.hy__author__social {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.hy__author__social__button {
    display: flex;
    align-items: center;
    align-content: center;
    background: $hy-white;
    border: 1px solid $hy-gray-button-border;
    padding: 8px 14px;
    font-weight: 500;
    font-size: 14px;

    i {
        // Why height of icons can't be modified?
        height: 16px;
        margin-right: 8px;
    }
}

// Section main
.hy__main {
    padding: 0 20px;

    @media screen and (min-width: $breakpoint-lg) {
        padding: 0 50px;
    }
}

.hy__posts {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
}

.hy__post {
    padding: 48px 0;
    border-bottom: 1px solid $hy-black;
}

// FIXME
.hy__post:first-child {
    padding-top: 32px;

    @media screen and (min-width: $breakpoint-lg) {
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.hy__post:last-child {
    text-align: center;
    border-bottom: none;
}

.hy__post__text__wrapper {
    margin-top: 28px;

    @media screen and (min-width: $breakpoint-lg) {
        display: flex;
        justify-content: space-between;
    }
}

.hy__post__heading {
    margin-top: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    @media screen and (min-width: $breakpoint-lg) {
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
    }
}

.hy__post__text {
    @media screen and (min-width: $breakpoint-lg) {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
    }
}

.hy__post__image {
    width: 100%;
    max-height: 320px;
    object-fit: cover;
}

.hy__post__image:first-child {
    max-height: 762px;
}

.hy__related__post__image {
    width: 100%;
    max-height: 320px;
    object-fit: cover;
}

.hy__related__post__heading {
    margin-top: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.hy__post__text,
.hy__related__post__text {
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

// Section Related
.hy__related__section {
    color: $hy-white;
    background: $hy-gray-dark;
}

.hy__related {
    padding: 0 20px;

    @media screen and (min-width: $breakpoint-lg) {
        padding: 0 50px;
    }
}

.hy__related__heading {
    padding: 20px 0;
    font-weight: 600;
    font-size: 66px;
    line-height: 80px;
}

.hy__related__post {
    padding: 48px 0;
    border-bottom: 1px solid $hy-gray;

    &.hy__related__post--first {
        margin-top: 60px;
    }
}

.hy__related__post--first {
    @media screen and (min-width: $breakpoint-lg) {
        img {
            max-height: 750px;
        }
    }
}

.hy__related__post__text__wrapper {
    margin-top: 32px;
}

.hy__related__category {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
}

.hy__reated__continue {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;

    p {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
    }
}

.hy__related__button {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    background: $hy-white;
    color: $hy-black;
    padding: 16px 0;
    width: 100%;
    margin: 24px 0;
}

// Section subscribe
.hy__subscribe {
    padding: 64px 20px 88px;
    display: flex;
    flex-direction: column;
    text-align: center;

    @media screen and (min-width: $breakpoint-lg) {
        padding: 128px 50px 93px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

.hy__subscribe__heading {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;

    @media screen and (min-width: $breakpoint-lg) {
        font-size: 32px;
        line-height: 39px;
    }
}

.hy__subscribe__subheading {
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    @media screen and (min-width: $breakpoint-lg) {
        margin-top: 25px;
    }
}

.hy__subscribe__input {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media screen and (min-width: $breakpoint-lg) {
        margin: 40px auto 0 auto;
        position: relative;
        max-width: 600px;
    }

    @media screen and (min-width: $breakpoint-xl) {
        margin: 40px auto 0 auto;
        max-width: 748px;
    }
}

.hy__subscribe__email {
    padding: 15px 20px;
    border: 1px solid $hy-black;

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: $hy-black;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }

    @media screen and (min-width: $breakpoint-lg) {
        padding: 20px;
    }
}

.hy__subscribe__button {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    background: $hy-black;
    color: white;
    padding: 14px 0;
    width: 100%;

    @media screen and (min-width: $breakpoint-lg) {
        position: absolute;
        width: 127px;
        right: 5px;
        top: 5px;
    }
}

.hy__subscribe__term {
    margin-top: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

    @media screen and (min-width: $breakpoint-lg) {
        margin-top: 40px;
        line-height: 27px;
    }
}

// Footer
footer {
    background: $hy-gray-light;
}

.hy_footer {
    padding: 7px 20px 24px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (min-width: $breakpoint-lg) {
        padding: 56px 50px 0px 50px;
    }
}

.hy__footer__column {
    // flex-basis: auto;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    border-bottom: 1px solid $hy-black;

    @media screen and (min-width: $breakpoint-md) {
        flex-basis: 33.33%;
    }

    @media screen and (min-width: $breakpoint-lg) {
        flex-basis: 16.66%;
        padding-top: 0;
    }
}

.hy__footer__column__title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.hy__footer__column__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
}

// // Footer bootom
.hy__footer__bottom {
    padding: 33px 20px 24px 20px;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $breakpoint-lg) {
        padding: 40px 50px 37px 50px;
        flex-direction: row;
        justify-content: space-between;
    }
}

.hy__footer__title {
    text-align: center;

    @media screen and (min-width: $breakpoint-lg) {
        text-align: left;
    }

    h4 {
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
    }

    p {
        margin-top: 16px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $hy-gray-footer;

        @media screen and (min-width: $breakpoint-lg) {
            margin-top: 20px;
        }
    }
}

.hy__footer__links {
    margin-top: 38px;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $breakpoint-lg) {
        margin-top: 0;
    }
}

.hy__footer__social {
    display: flex;
    justify-content: center;
    gap: 28px;

    i {
        height: 28px;
    }

    @media screen and (min-width: $breakpoint-lg) {
        justify-content: flex-end;
    }
}

.hy__footer__menu {
    margin-top: 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;


    @media screen and (min-width: $breakpoint-lg) {
        margin-top: 20px;
        justify-content: flex-end;
    }
}

.hy__footer__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}